.footer {
  background-color: #333;
  padding: 10px;
}

.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-item {
  margin-right: 10px;
}

.footer-link {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

.footer-link:hover {
  background-color: #555;
}
